<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangotab"
    android:versionCode="11"
    android:versionName="2.5" >

    <!-- =================================================== -->
    <!-- Minimum and maximum SDK version support -->
    <!-- ==================================================== -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <!-- =================================================== -->
    <!-- User permission required for TangoTab application -->
    <!-- ==================================================== -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permissions for push notification -->
    <permission
        android:name="com.tangotab.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tangotab.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- =================================================== -->
    <!-- Screen resolution for TangoTab application -->
    <!-- ==================================================== -->

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- =================================================== -->
    <!-- Activities for TangoTab application -->
    <!-- ==================================================== -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.tangotab.core.session.TangoTab"
        android:allowBackup="true"
        android:hasCode="true"
        android:icon="@drawable/tangotab_icon" >

        <!-- ================================= -->
        <!-- Splash screen -->
        <!-- ================================= -->

        <activity
            android:name=".login.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ================================= -->
        <!-- Login screen -->
        <!-- ================================= -->

        <activity
            android:name=".login.activity.LogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- ================================= -->
        <!-- Forget password screen -->
        <!-- ================================= -->

        <activity
            android:name=".login.activity.ForgetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- =============================== -->
        <!-- SignUp screen -->
        <!-- ============================== -->

        <activity
            android:name=".signUp.activity.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- Terms of Use screen -->
        <!-- ================================= -->

        <activity
            android:name=".signUp.activity.TermsOfUseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- Privacy policy screen -->
        <!-- ================================== -->

        <activity
            android:name=".signUp.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Near me screen -->
        <!-- ================================= -->

        <activity
            android:name=".nearMe.activity.NearMeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Claim Offer screen -->
        <!-- ================================= -->

        <activity
            android:name=".claimOffer.activity.ClaimOfferActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- <data android:scheme="ttapp" /> -->
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            </intent-filter>
        </activity>

        <!-- =================================== -->
        <!-- Activity to launch from Deep Link Offer screen -->
        <!-- ================================= -->
        <activity
            android:name=".claimOffer.activity.DeepLinkOfferActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <data
                    android:host="deal"
                    android:scheme="ttapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="https"
                    android:path="/scan"
                    android:scheme="play.google.com" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- =================================== -->
        <!-- My Offers screen -->
        <!-- ================================== -->
        <activity
            android:name=".myOffers.activity.MyOffersActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Search screen -->
        <!-- ================================= -->
        <activity
            android:name=".search.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Settings screen -->
        <!-- ================================= -->

        <activity
            android:name=".settings.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- My Offers Detail screen -->
        <!-- ================================== -->

        <activity
            android:name=".myOfferDetails.activity.MyoffersDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Local Notification screen -->
        <!-- ================================== -->


        <!--
        <activity
            android:name=".localNotification.activity.LocalNotificationActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        -->


        <!-- =================================== -->
        <!-- App Notification screen -->
        <!-- ================================= -->

        <activity
            android:name=".appNotification.activity.AppNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Google Mapping Screen -->
        <!-- ================================= -->

        <activity
            android:name=".map.activity.MappingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Map point screen -->
        <!-- ================================== -->

        <activity
            android:name=".map.activity.MapPointActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- Local notification Receiver -->
        <!-- ================================= -->

        <receiver
            android:name=".localNotification.receiver.LocalNotificationReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.bytefoundry.broadcast.ALARM" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />

        <!-- =================================== -->
        <!-- ZipCode Activity -->
        <!-- ================================= -->

        <activity
            android:name=".facebook.activity.ZipActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <!-- =================================== -->
        <!-- FaceBook Login screen -->
        <!-- ================================= -->

        <activity
            android:name=".facebook.activity.FacebookLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- My Offers Mapping Screen -->
        <!-- ================================== -->

        <activity
            android:name=".map.activity.MyOffersMapingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- Main Menu Screen -->
        <!-- ================================== -->

        <activity
            android:name=".mainmenu.activity.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- =================================== -->
        <!-- Alternate Location Screen -->
        <!-- ================================== -->

        <activity
            android:name=".mainmenu.activity.AlternateLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- =================================== -->


        <!-- =================================== -->
        <!-- Me Screen -->
        <!-- ================================== -->

        <activity
            android:name=".me.activity.MeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- Current Location screen -->
        <!-- ================================== -->

        <activity
            android:name=".search.activity.LocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- Twitter Sharing Screen -->
        <!-- ================================== -->

        <activity
            android:name=".twitter.activity.TwitterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- =========================================== -->
        <!-- Contact support Screen -->
        <!-- ========================================== -->

        <activity
            android:name=".contactSupport.activity.ContactSupportActvity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- =================================== -->
        <!-- Calender screen -->
        <!-- ================================== -->

        <activity
            android:name=".calendar.activity.CalendarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- =========================================== -->
        <!-- Custom URl Handler Implementation -->
        <!-- ========================================== -->

        <activity
            android:name=".customUrl.activity.CustomUrlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <data android:scheme="ttapp" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="com.commonsware.android.MY_ACTION" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!--
        BroadCast Receiver and GCMIntentService which handles the 
	    push notification for the application
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tangotab" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMIntentService"
            android:enabled="true" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="90e7b358f82493678c3299f2b71d52c983de71d8" />
    </application>

</manifest>